.playlist-bg-container {
  background-color: #181818;
  min-height: 100vh;
  padding-top: 50px;
  display: flex;
  flex-direction: column;
}
.playlist-heading {
  font-family: 'Roboto';
  font-size: 25px;
  font-weight: bold;
  color: white;
  padding-left: 16px;
  margin-bottom: 28px;
}
.line-one {
  display: flex;
  flex-direction: row;
  padding-left: 16px;
}
.thumb-nail {
  width: 40px;
  height: 40px;
}
.thing-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
.things-container2 {
  display: none;
}
.image-container {
  display: flex;
  flex-direction: column;
}
.para-style {
  color: white;
  font-family: 'Roboto';
  font-size: 15px;
  font-weight: 400;
}
.count-style {
  font-family: 'Roboto';
  font-size: 14px;
  color: #64748b;
  margin-top: 0px;
  align-self: flex-start;
}
.info-container {
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}
.displayList {
  padding-left: 0px;
  margin-top: 0px;
}
.notDisplayList {
  display: none;
}
.button-stylee {
  background-color: transparent;
  margin: 0px;
  outline: none;
  border: none;
}
