.list-container-editor {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 15px;
}
.editor-heading {
  font-family: Assistant;
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 32px;
  color: #ffffff;
  margin-top: 0px;
  margin-bottom: 0px;
}
.editor-ul-list {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  padding-left: 0px;
  flex-wrap: wrap;
}
